body, html {
  background-color: #f5f5f5;
  color: #49111C;
  text-align: center;
}

.title {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  font-weight: 200;
}

.table {
  height: 500px;
  padding: 0 100px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsCellClass {
  color: #49111C;
  font-weight: 500!important;
}

.columnHeaderClass {
  color: #49111C;
  border-color: #49111C;
}

.columnHeaderTitleClass {
  font-weight: 700!important;
  border-color: #49111C;
}

.footerCellClass {
  color: #49111C;
  border-color: #49111C;
}

.ColumnFilteredIconClass {
  fill: #49111C!important;
}
